#id1 {
    color: red
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    background-color: rgb(206, 174, 174);
    color: rgb(115, 56, 88);
}

h2 {
    color: darkorchid;
}

nav ul {
    list-style-type: none;
    padding-left: 1;
}

nav ul li {
    display:inline;
    margin-top: 20px;
}

